@model IEnumerable<MVC.Models.Department>

@{
    ViewData["PageTitle"] = "Departments page";
}

<h2>@ViewData["PageTitle"]</h2>

<p>
    <a>Create new Department</a>
</p>

<table class="table">
    <thead>
        <tr>
           <th>
               @Html.DisplayNameFor(model => model.Id)
           </th> 
           <th>
               @Html.DisplayNameFor(model => model.Name)
           </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayName(item.Id.ToString())
                </td>
                <td>
                    @Html.DisplayName(item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>